html {
  font-family: 'Inter';
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-image: linear-gradient(90deg, #3e0d7b, #465d85);
  color: #c8d1ea;
  margin: 0;
}

.small-screens-only {
  display: block;
}

.big-screens-only {
  display: none;
}

.scroll-animator {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.single-page {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  height: 95vh;
  margin-top: 1rem;
  margin-left: 1rem;
}

.title-header {
  font-size: 3rem;
  margin: 0;
}

.subtitle-header {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.about-title-block {
  align-content: right;
  width: 55vw;
  text-align: left;
  margin-left: auto;
  margin-right: 2rem;
}

.about-block {
  width: 90vw;
  margin-top: 2rem;
}

.about-text {
  align-content: right;
  margin-left: auto;
  text-align: left;
  font-size: .9rem;
  width: 50vw;
  padding: 1rem;
  background-image: linear-gradient(90deg, #465d85, #3e0d7b);
  border-radius: 2rem;
  text-align: center;
}

.about-image {
  background-color: #465d85;
  border-radius: 50px;
  width: 25vw;
  float: left;
  border: .5rem solid #465d85;
  border-top: none;
  box-shadow: .3rem .5rem #c8d1ea;
}

.skills-box-group {
  margin-right: 2rem;
}

.skills-toggle-buttons-group {
  margin-bottom: 3rem;
  width: 90vw;
}

.skills-toggle-button {
  float: left;
  width: 30vw;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  color: #c8d1ea;
}

.skills-toggle-button:hover {
  float: left;
  width: 30vw;
  text-decoration: underline;
  border-bottom: .2rem solid #c8d1ea;
  border-radius: 2rem;
}

.skills-toggle-button-selected {
  float: left;
  width: 30vw;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  color: #c8d1ea;
  text-decoration: underline;
  border-bottom: 0.2rem solid #c8d1ea;
  border-radius: 2rem;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

.skills-list-item {
  margin-bottom: 1rem;
}

.skills-box {
  background-image: linear-gradient(90deg, #465d85, #3e0d7b);
  border-radius: 2rem;
  height: 65vh;
  text-align: center;
}

.skills-box-header {
  margin: 0;
  padding-top: 1rem;
}

.home-icons-container {
  width: 45vw;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  float: left;
}

.home-icon-block {
  min-height: 25px;
  max-height: 50px;
  padding: 0;
  width: 100%;
  margin-top: 1rem;
  margin-right: 1rem;
  float: left;
}

.home-icon {
  min-height: 25px;
  max-height: 50px;
  padding: 0;
  width: fit-content;
  /* margin-top: 1rem; */
  margin-right: 1rem;
  float: left;
}

.home-icon-text {
  padding-top: 1rem;
}

@media screen and (min-width: 721px) {
  .home-page {
    display: flex;
    flex-direction: column;
    height: 95vh;
    /* margin-top: 2rem; */
    margin-left: 2rem;
    margin-bottom: 3rem;
  }

  .title-header {
    font-size: 3.5rem;
    margin: 0;
  }
  
  .subtitle-header {
    font-size: 1.75rem;
    font-weight: 400;
    font-style: italic;
    margin: 0;
  }

  .about-title-block {
    align-content: right;
    width: 55vw;
    text-align: left;
    margin-left: auto;
    margin-right: 3rem;
  }

  .about-block {
    width: 90vw;
    margin-top: 2rem; 
  }

  .about-text {
    align-content: right;
    margin-left: auto;
    text-align: left;
    font-size: 1rem;
    width: 55vw;
    padding: 1rem;
    background-image: linear-gradient(90deg, #465d85, #3e0d7b);
    border-radius: 2rem;
    /* height: 65vh; */
    text-align: center;
  }

  .about-image {
    background-color: #465d85;
    border-radius: 50px;
    width: 20vw;
    float: left;
    border: .5rem solid #465d85;
    border-top: none;
    box-shadow: .3rem .5rem #c8d1ea;
    margin-left: 2rem;
  }

  .home-icons-container {
    width: 45vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    float: left;
  }

  .home-icon-block {
    min-height: 25px;
    max-height: 50px;
    padding: 0;
    width: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
    float: left;
  }

  .home-icon {
    min-height: 25px;
    max-height: 50px;
    padding: 0;
    width: fit-content;
    margin-right: 1rem;
    float: left;
  }

  .home-icon-text {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .small-screens-only {
    display: none;
  }
  
  .big-screens-only {
    display: block;
  }
  .home-page {
    display: flex;
    flex-direction: column;
    height: 95vh;
    /* margin-top: 2rem; */
    margin-left: 2rem;
    margin-bottom: 3rem;
  }

  .home-title-block {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .title-header {
    font-size: 4rem;
    margin: 0;
  }

  .subtitle-header {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    margin: 0;
  }

  .home-icons-container {
    width: 95vw;
    align-self: center;
    margin: auto;
    margin-bottom: 7rem;
  }
  
  .home-icon-block {
    min-height: 25px;
    max-height: 50px;
    padding: 0;
    width: 10vw;
    margin-right: 3.5rem;
  }

  .home-icon {
    min-height: 25px;
    max-height: 100px;
    float: left;
  }

  .home-icon-text {
    display: none;
  }

  .about-text {
    align-self: center;
    margin-left: 40vw;
    font-size: 1.2rem;
    width: 35vw;
    padding: 1rem;
    background-image: linear-gradient(90deg, #465d85, #3e0d7b);
    border-radius: 2rem;
    /* height: 65vh; */
    text-align: center;
  }

  .skills-box-group {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .skills-box {
    background-image: linear-gradient(90deg, #465d85, #3e0d7b);
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    width: 25vw;
    margin-left: 2rem;
    margin-right: 2rem;
    float: left
  }

  .skills-box:last-child {
    margin-right: 0;
  }
}