html {
  font-family: 'Inter';
}

body {
  background-image: linear-gradient(90deg, #4d3685, #1a0a3c);
  color: #c8d1ea;
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin-top: 2rem;
  margin-left: 2rem;
}

.home-title-block {
  margin-top: 5rem;
  margin-left: 2rem;
}

.title-header {
  font-size: 9rem;
  margin: 0;
}

.subtitle-header {
  font-size: 4.5rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.home-icons-container {
  margin-top: auto;
}

.home-icon {
  min-height: 25px;
  max-height: 100px;
}

.home-icon:last-child {
  min-height: 100px;
  max-height: 400px;
}